@model listarproy.Models.Scheduled

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Se programara esta lista para los proximos 7 dias</h4>
        <hr />
       
        @Html.HiddenFor(model => model.Until, new { @Value = DateTime.Now.AddDays(7) })
        @Html.HiddenFor(model => model.list, new { @Value = ViewBag.Listuser })
        @Html.HiddenFor(model => model.Finished, new { @Value = 0 })
            <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Aceptar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="buttonboxback">
    @Html.ActionLink("Regresar", "Index", new { id = ViewBag.Listuser })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
